In [42]:
%pip install mysql

Requirement already satisfied: mysql in c:\users\dell\desktop\redbus\.venv\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\dell\desktop\redbus\.venv\lib\site-packages (from mysql) (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [43]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\desktop\redbus\.venv\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\dell\desktop\redbus\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\desktop\redbus\.venv\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\desktop\redbus\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\desktop\redbus\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\desktop\redbus\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\desktop\redbus\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [45]:
import pandas as pd
print(pd.__version__)

2.2.3

In [46]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\dell\desktop\redbus\.venv\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import numpy as np
print(np.__version__)

2.1.3

In [48]:
import pandas as pd
import numpy as np

In [49]:

df_kerala_1= pd.read_csv("df_kerala_1.csv")
df_chandigarh_1=pd.read_csv("df_chandigarh_1.csv")
df_telugana_1=pd.read_csv("df_telugana_1.csv")
df_south_bengal_1=pd.read_csv("df_south_bengal_1.csv")
df_bihar_1=pd.read_csv("df_bihar_1.csv")
df_punjab_1=pd.read_csv("df_punjab_1.csv")
df_kadamba_1=pd.read_csv("df_kadamba_1.csv")
df_westbengal_1=pd.read_csv("df_westbengal_1.csv")
df_rajasthan_1=pd.read_csv("df_rajasthan_1.csv")
df_andhra_1=pd.read_csv("df_andhra_1.csv")

Final_df=pd.concat([df_kerala_1,df_chandigarh_1,df_telugana_1,df_bihar_1,df_punjab_1,df_kadamba_1,df_westbengal_1,df_rajasthan_1,df_andhra_1],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:20,08h 20m,INR 627,4 Seats available,4.1\n134,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,INR 729,3 Seats available,2.5\n35,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,23:05,08h 50m,INR 627,17 Seats available,4.3\n96,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,INR 620,14 Seats available,4.0\n16,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25,23:45,08h 20m,INR 729,28 Seats available,2.9\n42,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
4079,Morning Star Travels,Scania AC Multi Axle Sleeper (2+1),04:55,07:30,02h 35m,INR 1190,20 Seats available,2.7,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4080,Morning Star Travels,A/C Sleeper (2+1),04:15,07:00,02h 45m,INR 1090,7 Seats available,2.7,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4081,Morning Star Travels,A/C Sleeper (2+1),01:40,05:00,03h 20m,INR 1190,29 Seats available,2.7,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4082,KKaveri Travels,Non A/C Seater / Sleeper (2+1),23:59,05:00,05h 01m,INR 990,33 Seats available,2.5,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4083,Northern Travels,Bharat Benz A/C Sleeper (2+1),05:30,09:30,04h 00m,759,15 Seats available,2.0,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore

In [50]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4084 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4079 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4079 non-null   object
 3   End_time         4079 non-null   object
 4   Total_duration   4079 non-null   object
 5   Price            4079 non-null   object
 6   Seats_Available  4079 non-null   object
 7   Ratings          4079 non-null   object
 8   Route_link       4084 non-null   object
 9   Route_name       4084 non-null   object
dtypes: object(10)
memory usage: 319.2+ KB

In [51]:
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0        627.0
1        729.0
2        627.0
3        620.0
4        729.0
         ...
4079    1190.0
4080    1090.0
4081    1190.0
4082     990.0
4083     759.0
Name: Price, Length: 4084, dtype: float64

In [52]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4084 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4079 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4079 non-null   object
 3   End_time         4079 non-null   object
 4   Total_duration   4079 non-null   object
 5   Price            4079 non-null   float64
 6   Seats_Available  4079 non-null   object
 7   Ratings          4079 non-null   object
 8   Route_link       4084 non-null   object
 9   Route_name       4084 non-null   object
dtypes: float64(1), object(9)
memory usage: 319.2+ KB

In [53]:
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7044\2582007703.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [54]:
Final_df["Ratings"] = Final_df["Ratings"].fillna(0)

In [ ]:

Final_df["Ratings"] = Final_df["Ratings"].fillna("").astype(str)


Final_df["Ratings"] = Final_df["Ratings"].str.replace("New", "")  
Final_df["Ratings"] = Final_df["Ratings"].str.strip()  
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]  
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')  
Final_df["Ratings"] = Final_df["Ratings"].fillna(0)

In [56]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4084 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4079 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4079 non-null   object
 3   End_time         4079 non-null   object
 4   Total_duration   4079 non-null   object
 5   Price            4079 non-null   float64
 6   Seats_Available  4079 non-null   object
 7   Ratings          4084 non-null   float64
 8   Route_link       4084 non-null   object
 9   Route_name       4084 non-null   object
dtypes: float64(2), object(8)
memory usage: 319.2+ KB

In [57]:
Final_df = Final_df[Final_df["Price"] <= 9000]

In [58]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4078 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4077 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 350.5+ KB

In [59]:
Final_df = Final_df.replace({np.nan: None})

In [60]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4078 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4077 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 350.5+ KB

In [61]:
path=r"C:/Users/DELL/Desktop/RedBus/df_Full_busdetails.csv"
Final_df.to_csv(path,index=False)

In [62]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4078 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4077 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 350.5+ KB

In [63]:
print(Final_df['Bus_type'].isnull().sum()) 
Final_df['Bus_type'] = Final_df['Bus_type'].fillna('Unknown')
print(Final_df['Bus_type'].isnull().sum())

1
0

In [64]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4078 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 350.5+ KB

In [65]:
Final_df = Final_df.fillna({'Seats_Available': 0, 'Bus_type': 'Unknown'})

In [66]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4078 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 350.5+ KB

In [67]:
print(Final_df)

                   Bus_name                            Bus_type Start_time  \
0       KSRTC (Kerala) - 52         SWIFT-GARUDA A/C SEATER BUS      12:00
1     KSRTC (Kerala) - 1378                       AC MULTI AXLE      13:46
2      KSRTC (Kerala) - 129         SWIFT-GARUDA A/C SEATER BUS      14:15
3      KSRTC (Kerala) - 235   Swift Deluxe Non AC Air Bus (2+2)      15:00
4      KSRTC (Kerala) - 370                       AC MULTI AXLE      15:25
...                     ...                                 ...        ...
4079   Morning Star Travels  Scania AC Multi Axle Sleeper (2+1)      04:55
4080   Morning Star Travels                   A/C Sleeper (2+1)      04:15
4081   Morning Star Travels                   A/C Sleeper (2+1)      01:40
4082        KKaveri Travels      Non A/C Seater / Sleeper (2+1)      23:59
4083       Northern Travels       Bharat Benz A/C Sleeper (2+1)      05:30

     End_time Total_duration   Price     Seats_Available  Ratings  \
0       20:20        08h 20m   627.0   4 Seats available      4.1
1       21:25        07h 39m   729.0   3 Seats available      2.5
2       23:05        08h 50m   627.0  17 Seats available      4.3
3       01:00        10h 00m   620.0  14 Seats available      4.0
4       23:45        08h 20m   729.0  28 Seats available      2.9
...       ...            ...     ...                 ...      ...
4079    07:30        02h 35m  1190.0  20 Seats available      2.7
4080    07:00        02h 45m  1090.0   7 Seats available      2.7
4081    05:00        03h 20m  1190.0  29 Seats available      2.7
4082    05:00        05h 01m   990.0  33 Seats available      2.5
4083    09:30        04h 00m   759.0  15 Seats available      2.0

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/bangalore-to...
1     https://www.redbus.in/bus-tickets/bangalore-to...
2     https://www.redbus.in/bus-tickets/bangalore-to...
3     https://www.redbus.in/bus-tickets/bangalore-to...
4     https://www.redbus.in/bus-tickets/bangalore-to...
...                                                 ...
4079  https://www.redbus.in/bus-tickets/ananthapur-t...
4080  https://www.redbus.in/bus-tickets/ananthapur-t...
4081  https://www.redbus.in/bus-tickets/ananthapur-t...
4082  https://www.redbus.in/bus-tickets/ananthapur-t...
4083  https://www.redbus.in/bus-tickets/ananthapur-t...

                                   Route_name
0                      Bangalore to Kozhikode
1                      Bangalore to Kozhikode
2                      Bangalore to Kozhikode
3                      Bangalore to Kozhikode
4                      Bangalore to Kozhikode
...                                       ...
4079  Anantapur (andhra pradesh) to Bangalore
4080  Anantapur (andhra pradesh) to Bangalore
4081  Anantapur (andhra pradesh) to Bangalore
4082  Anantapur (andhra pradesh) to Bangalore
4083  Anantapur (andhra pradesh) to Bangalore

[4078 rows x 10 columns]

In [68]:
print(Final_df.head())

                Bus_name                           Bus_type Start_time  \
0    KSRTC (Kerala) - 52        SWIFT-GARUDA A/C SEATER BUS      12:00
1  KSRTC (Kerala) - 1378                      AC MULTI AXLE      13:46
2   KSRTC (Kerala) - 129        SWIFT-GARUDA A/C SEATER BUS      14:15
3   KSRTC (Kerala) - 235  Swift Deluxe Non AC Air Bus (2+2)      15:00
4   KSRTC (Kerala) - 370                      AC MULTI AXLE      15:25

  End_time Total_duration  Price     Seats_Available  Ratings  \
0    20:20        08h 20m  627.0   4 Seats available      4.1
1    21:25        07h 39m  729.0   3 Seats available      2.5
2    23:05        08h 50m  627.0  17 Seats available      4.3
3    01:00        10h 00m  620.0  14 Seats available      4.0
4    23:45        08h 20m  729.0  28 Seats available      2.9

                                          Route_link              Route_name
0  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
1  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
2  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
3  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
4  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode

In [69]:
print(Final_df.head(10))

                Bus_name                                   Bus_type  \
0    KSRTC (Kerala) - 52                SWIFT-GARUDA A/C SEATER BUS
1  KSRTC (Kerala) - 1378                              AC MULTI AXLE
2   KSRTC (Kerala) - 129                SWIFT-GARUDA A/C SEATER BUS
3   KSRTC (Kerala) - 235          Swift Deluxe Non AC Air Bus (2+2)
4   KSRTC (Kerala) - 370                              AC MULTI AXLE
5    KSRTC (Kerala) - 97          Swift Deluxe Non AC Air Bus (2+2)
6   KSRTC (Kerala) - 380          Swift Deluxe Non AC Air Bus (2+2)
7   KSRTC (Kerala) - 553  Super Express Non AC Seater Air Bus (2+2)
8    KSRTC (Kerala) - 51          Swift Deluxe Non AC Air Bus (2+2)
9   KSRTC (Kerala) - 789             Super Fast Non AC Seater (2+3)

  Start_time End_time Total_duration  Price     Seats_Available  Ratings  \
0      12:00    20:20        08h 20m  627.0   4 Seats available      4.1
1      13:46    21:25        07h 39m  729.0   3 Seats available      2.5
2      14:15    23:05        08h 50m  627.0  17 Seats available      4.3
3      15:00    01:00        10h 00m  620.0  14 Seats available      4.0
4      15:25    23:45        08h 20m  729.0  28 Seats available      2.9
5      16:00    00:45        08h 45m  567.0  22 Seats available      3.5
6      16:15    01:00        08h 45m  567.0   9 Seats available      4.6
7      16:45    02:15        09h 30m  640.0  17 Seats available      3.5
8      19:00    04:30        09h 30m  640.0  33 Seats available      3.9
9      20:00    03:45        07h 45m  473.0  17 Seats available      3.8

                                          Route_link              Route_name
0  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
1  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
2  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
3  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
4  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
5  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
6  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
7  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
8  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
9  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode

In [ ]:

print(Final_df.tail())

                  Bus_name                            Bus_type Start_time  \
4079  Morning Star Travels  Scania AC Multi Axle Sleeper (2+1)      04:55
4080  Morning Star Travels                   A/C Sleeper (2+1)      04:15
4081  Morning Star Travels                   A/C Sleeper (2+1)      01:40
4082       KKaveri Travels      Non A/C Seater / Sleeper (2+1)      23:59
4083      Northern Travels       Bharat Benz A/C Sleeper (2+1)      05:30

     End_time Total_duration   Price     Seats_Available  Ratings  \
4079    07:30        02h 35m  1190.0  20 Seats available      2.7
4080    07:00        02h 45m  1090.0   7 Seats available      2.7
4081    05:00        03h 20m  1190.0  29 Seats available      2.7
4082    05:00        05h 01m   990.0  33 Seats available      2.5
4083    09:30        04h 00m   759.0  15 Seats available      2.0

                                             Route_link  \
4079  https://www.redbus.in/bus-tickets/ananthapur-t...
4080  https://www.redbus.in/bus-tickets/ananthapur-t...
4081  https://www.redbus.in/bus-tickets/ananthapur-t...
4082  https://www.redbus.in/bus-tickets/ananthapur-t...
4083  https://www.redbus.in/bus-tickets/ananthapur-t...

                                   Route_name
4079  Anantapur (andhra pradesh) to Bangalore
4080  Anantapur (andhra pradesh) to Bangalore
4081  Anantapur (andhra pradesh) to Bangalore
4082  Anantapur (andhra pradesh) to Bangalore
4083  Anantapur (andhra pradesh) to Bangalore

In [ ]:

print(Final_df.tail(10))

                        Bus_name                               Bus_type  \
4074           Skyline Transport         Non A/C Seater / Sleeper (2+1)
4075            Northern Travels  Bharat Benz A/C Seater /Sleeper (2+1)
4076  Dream Line Travels Pvt Ltd                   VE A/C Sleeper (2+1)
4077  BHAIRAVA TOURS AND TRAVELS         Non A/C Seater / Sleeper (2+1)
4078                    Yolo Bus          Bharat Benz A/C Sleeper (2+1)
4079        Morning Star Travels     Scania AC Multi Axle Sleeper (2+1)
4080        Morning Star Travels                      A/C Sleeper (2+1)
4081        Morning Star Travels                      A/C Sleeper (2+1)
4082             KKaveri Travels         Non A/C Seater / Sleeper (2+1)
4083            Northern Travels          Bharat Benz A/C Sleeper (2+1)

     Start_time End_time Total_duration   Price     Seats_Available  Ratings  \
4074      23:15    04:30        05h 15m  3999.0  45 Seats available      3.9
4075      05:00    08:30        03h 30m   827.0  39 Seats available      2.0
4076      04:20    10:00        05h 40m  2035.0   9 Seats available      3.6
4077      23:40    05:45        06h 05m   600.0  23 Seats available      3.5
4078      03:21    08:56        05h 35m  1580.0  22 Seats available      3.3
4079      04:55    07:30        02h 35m  1190.0  20 Seats available      2.7
4080      04:15    07:00        02h 45m  1090.0   7 Seats available      2.7
4081      01:40    05:00        03h 20m  1190.0  29 Seats available      2.7
4082      23:59    05:00        05h 01m   990.0  33 Seats available      2.5
4083      05:30    09:30        04h 00m   759.0  15 Seats available      2.0

                                             Route_link  \
4074  https://www.redbus.in/bus-tickets/ananthapur-t...
4075  https://www.redbus.in/bus-tickets/ananthapur-t...
4076  https://www.redbus.in/bus-tickets/ananthapur-t...
4077  https://www.redbus.in/bus-tickets/ananthapur-t...
4078  https://www.redbus.in/bus-tickets/ananthapur-t...
4079  https://www.redbus.in/bus-tickets/ananthapur-t...
4080  https://www.redbus.in/bus-tickets/ananthapur-t...
4081  https://www.redbus.in/bus-tickets/ananthapur-t...
4082  https://www.redbus.in/bus-tickets/ananthapur-t...
4083  https://www.redbus.in/bus-tickets/ananthapur-t...

                                   Route_name
4074  Anantapur (andhra pradesh) to Bangalore
4075  Anantapur (andhra pradesh) to Bangalore
4076  Anantapur (andhra pradesh) to Bangalore
4077  Anantapur (andhra pradesh) to Bangalore
4078  Anantapur (andhra pradesh) to Bangalore
4079  Anantapur (andhra pradesh) to Bangalore
4080  Anantapur (andhra pradesh) to Bangalore
4081  Anantapur (andhra pradesh) to Bangalore
4082  Anantapur (andhra pradesh) to Bangalore
4083  Anantapur (andhra pradesh) to Bangalore

In [ ]:

Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4078 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 350.5+ KB

In [ ]:

print(Final_df.describe())

             Price      Ratings
count  4078.000000  4078.000000
mean    875.528328     3.480554
std     714.450985     0.943208
min      90.000000     0.000000
25%     495.000000     3.000000
50%     700.000000     3.600000
75%     998.750000     4.200000
max    6000.000000     5.000000

In [76]:
import pandas as pd

print(Final_df)

Final_df.info()

print(Final_df.head())

                   Bus_name                            Bus_type Start_time  \
0       KSRTC (Kerala) - 52         SWIFT-GARUDA A/C SEATER BUS      12:00
1     KSRTC (Kerala) - 1378                       AC MULTI AXLE      13:46
2      KSRTC (Kerala) - 129         SWIFT-GARUDA A/C SEATER BUS      14:15
3      KSRTC (Kerala) - 235   Swift Deluxe Non AC Air Bus (2+2)      15:00
4      KSRTC (Kerala) - 370                       AC MULTI AXLE      15:25
...                     ...                                 ...        ...
4079   Morning Star Travels  Scania AC Multi Axle Sleeper (2+1)      04:55
4080   Morning Star Travels                   A/C Sleeper (2+1)      04:15
4081   Morning Star Travels                   A/C Sleeper (2+1)      01:40
4082        KKaveri Travels      Non A/C Seater / Sleeper (2+1)      23:59
4083       Northern Travels       Bharat Benz A/C Sleeper (2+1)      05:30

     End_time Total_duration   Price     Seats_Available  Ratings  \
0       20:20        08h 20m   627.0   4 Seats available      4.1
1       21:25        07h 39m   729.0   3 Seats available      2.5
2       23:05        08h 50m   627.0  17 Seats available      4.3
3       01:00        10h 00m   620.0  14 Seats available      4.0
4       23:45        08h 20m   729.0  28 Seats available      2.9
...       ...            ...     ...                 ...      ...
4079    07:30        02h 35m  1190.0  20 Seats available      2.7
4080    07:00        02h 45m  1090.0   7 Seats available      2.7
4081    05:00        03h 20m  1190.0  29 Seats available      2.7
4082    05:00        05h 01m   990.0  33 Seats available      2.5
4083    09:30        04h 00m   759.0  15 Seats available      2.0

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/bangalore-to...
1     https://www.redbus.in/bus-tickets/bangalore-to...
2     https://www.redbus.in/bus-tickets/bangalore-to...
3     https://www.redbus.in/bus-tickets/bangalore-to...
4     https://www.redbus.in/bus-tickets/bangalore-to...
...                                                 ...
4079  https://www.redbus.in/bus-tickets/ananthapur-t...
4080  https://www.redbus.in/bus-tickets/ananthapur-t...
4081  https://www.redbus.in/bus-tickets/ananthapur-t...
4082  https://www.redbus.in/bus-tickets/ananthapur-t...
4083  https://www.redbus.in/bus-tickets/ananthapur-t...

                                   Route_name
0                      Bangalore to Kozhikode
1                      Bangalore to Kozhikode
2                      Bangalore to Kozhikode
3                      Bangalore to Kozhikode
4                      Bangalore to Kozhikode
...                                       ...
4079  Anantapur (andhra pradesh) to Bangalore
4080  Anantapur (andhra pradesh) to Bangalore
4081  Anantapur (andhra pradesh) to Bangalore
4082  Anantapur (andhra pradesh) to Bangalore
4083  Anantapur (andhra pradesh) to Bangalore

[4078 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 4078 entries, 0 to 4083
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 350.5+ KB
                Bus_name                           Bus_type Start_time  \
0    KSRTC (Kerala) - 52        SWIFT-GARUDA A/C SEATER BUS      12:00
1  KSRTC (Kerala) - 1378                      AC MULTI AXLE      13:46
2   KSRTC (Kerala) - 129        SWIFT-GARUDA A/C SEATER BUS      14:15
3   KSRTC (Kerala) - 235  Swift Deluxe Non AC Air Bus (2+2)      15:00
4   KSRTC (Kerala) - 370                      AC MULTI AXLE      15:25

  End_time Total_duration  Price     Seats_Available  Ratings  \
0    20:20        08h 20m  627.0   4 Seats available      4.1
1    21:25        07h 39m  729.0   3 Seats available      2.5
2    23:05        08h 50m  627.0  17 Seats available      4.3
3    01:00        10h 00m  620.0  14 Seats available      4.0
4    23:45        08h 20m  729.0  28 Seats available      2.9

                                          Route_link              Route_name
0  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
1  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
2  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
3  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
4  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode

In [77]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\desktop\redbus\.venv\lib\site-packages (9.1.0)Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [3]:
import mysql.connector

# Establish connection to the MySQL server
connection = mysql.connector.connect(
    host="localhost",  # Host where MySQL is running
    user="root",       # MySQL username
    password="123456789"  # MySQL password (use your actual password)
)

# Create a cursor object to interact with MySQL
cursor = connection.cursor()

# Execute SQL command to create a database
cursor.execute("CREATE DATABASE REDBUS_Data")

# Close the connection
connection.close()

print("Database 'REDBUS_Data' created successfully.")

Database 'REDBUS_Data' created successfully.

In [11]:
import pandas as pd

Final_df = pd.read_csv('Full_busdetails_df.csv')
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:20,08h 20m,627.0,4 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,729.0,3 Seats available,2.5,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,23:05,08h 50m,627.0,17 Seats available,4.3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,620.0,14 Seats available,4.0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25,23:45,08h 20m,729.0,28 Seats available,2.9,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
4073,Morning Star Travels,Scania AC Multi Axle Sleeper (2+1),04:55,07:30,02h 35m,1190.0,20 Seats available,2.7,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4074,Morning Star Travels,A/C Sleeper (2+1),04:15,07:00,02h 45m,1090.0,7 Seats available,2.7,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4075,Morning Star Travels,A/C Sleeper (2+1),01:40,05:00,03h 20m,1190.0,29 Seats available,2.7,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4076,KKaveri Travels,Non A/C Seater / Sleeper (2+1),23:59,05:00,05h 01m,990.0,33 Seats available,2.5,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore
4077,Northern Travels,Bharat Benz A/C Sleeper (2+1),05:30,09:30,04h 00m,759.0,15 Seats available,2.0,https://www.redbus.in/bus-tickets/ananthapur-t...,Anantapur (andhra pradesh) to Bangalore

In [12]:
import pandas as pd

print(Final_df)

Final_df.info()

print(Final_df.head())

                   Bus_name                            Bus_type Start_time  \
0       KSRTC (Kerala) - 52         SWIFT-GARUDA A/C SEATER BUS      12:00
1     KSRTC (Kerala) - 1378                       AC MULTI AXLE      13:46
2      KSRTC (Kerala) - 129         SWIFT-GARUDA A/C SEATER BUS      14:15
3      KSRTC (Kerala) - 235   Swift Deluxe Non AC Air Bus (2+2)      15:00
4      KSRTC (Kerala) - 370                       AC MULTI AXLE      15:25
...                     ...                                 ...        ...
4073   Morning Star Travels  Scania AC Multi Axle Sleeper (2+1)      04:55
4074   Morning Star Travels                   A/C Sleeper (2+1)      04:15
4075   Morning Star Travels                   A/C Sleeper (2+1)      01:40
4076        KKaveri Travels      Non A/C Seater / Sleeper (2+1)      23:59
4077       Northern Travels       Bharat Benz A/C Sleeper (2+1)      05:30

     End_time Total_duration   Price     Seats_Available  Ratings  \
0       20:20        08h 20m   627.0   4 Seats available      4.1
1       21:25        07h 39m   729.0   3 Seats available      2.5
2       23:05        08h 50m   627.0  17 Seats available      4.3
3       01:00        10h 00m   620.0  14 Seats available      4.0
4       23:45        08h 20m   729.0  28 Seats available      2.9
...       ...            ...     ...                 ...      ...
4073    07:30        02h 35m  1190.0  20 Seats available      2.7
4074    07:00        02h 45m  1090.0   7 Seats available      2.7
4075    05:00        03h 20m  1190.0  29 Seats available      2.7
4076    05:00        05h 01m   990.0  33 Seats available      2.5
4077    09:30        04h 00m   759.0  15 Seats available      2.0

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/bangalore-to...
1     https://www.redbus.in/bus-tickets/bangalore-to...
2     https://www.redbus.in/bus-tickets/bangalore-to...
3     https://www.redbus.in/bus-tickets/bangalore-to...
4     https://www.redbus.in/bus-tickets/bangalore-to...
...                                                 ...
4073  https://www.redbus.in/bus-tickets/ananthapur-t...
4074  https://www.redbus.in/bus-tickets/ananthapur-t...
4075  https://www.redbus.in/bus-tickets/ananthapur-t...
4076  https://www.redbus.in/bus-tickets/ananthapur-t...
4077  https://www.redbus.in/bus-tickets/ananthapur-t...

                                   Route_name
0                      Bangalore to Kozhikode
1                      Bangalore to Kozhikode
2                      Bangalore to Kozhikode
3                      Bangalore to Kozhikode
4                      Bangalore to Kozhikode
...                                       ...
4073  Anantapur (andhra pradesh) to Bangalore
4074  Anantapur (andhra pradesh) to Bangalore
4075  Anantapur (andhra pradesh) to Bangalore
4076  Anantapur (andhra pradesh) to Bangalore
4077  Anantapur (andhra pradesh) to Bangalore

[4078 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078 entries, 0 to 4077
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4077 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 318.7+ KB
                Bus_name                           Bus_type Start_time  \
0    KSRTC (Kerala) - 52        SWIFT-GARUDA A/C SEATER BUS      12:00
1  KSRTC (Kerala) - 1378                      AC MULTI AXLE      13:46
2   KSRTC (Kerala) - 129        SWIFT-GARUDA A/C SEATER BUS      14:15
3   KSRTC (Kerala) - 235  Swift Deluxe Non AC Air Bus (2+2)      15:00
4   KSRTC (Kerala) - 370                      AC MULTI AXLE      15:25

  End_time Total_duration  Price     Seats_Available  Ratings  \
0    20:20        08h 20m  627.0   4 Seats available      4.1
1    21:25        07h 39m  729.0   3 Seats available      2.5
2    23:05        08h 50m  627.0  17 Seats available      4.3
3    01:00        10h 00m  620.0  14 Seats available      4.0
4    23:45        08h 20m  729.0  28 Seats available      2.9

                                          Route_link              Route_name
0  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
1  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
2  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
3  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
4  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode

In [13]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="REDBUS_Data" 
)
cursor = connection.cursor()
cursor.execute('''CREATE TABLE details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table 'details' Table Created successfully")

Table 'details' Table Created successfully

In [14]:
import pandas as pd

print(Final_df)

Final_df.info()

print(Final_df.head())

                   Bus_name                            Bus_type Start_time  \
0       KSRTC (Kerala) - 52         SWIFT-GARUDA A/C SEATER BUS      12:00
1     KSRTC (Kerala) - 1378                       AC MULTI AXLE      13:46
2      KSRTC (Kerala) - 129         SWIFT-GARUDA A/C SEATER BUS      14:15
3      KSRTC (Kerala) - 235   Swift Deluxe Non AC Air Bus (2+2)      15:00
4      KSRTC (Kerala) - 370                       AC MULTI AXLE      15:25
...                     ...                                 ...        ...
4073   Morning Star Travels  Scania AC Multi Axle Sleeper (2+1)      04:55
4074   Morning Star Travels                   A/C Sleeper (2+1)      04:15
4075   Morning Star Travels                   A/C Sleeper (2+1)      01:40
4076        KKaveri Travels      Non A/C Seater / Sleeper (2+1)      23:59
4077       Northern Travels       Bharat Benz A/C Sleeper (2+1)      05:30

     End_time Total_duration   Price     Seats_Available  Ratings  \
0       20:20        08h 20m   627.0   4 Seats available      4.1
1       21:25        07h 39m   729.0   3 Seats available      2.5
2       23:05        08h 50m   627.0  17 Seats available      4.3
3       01:00        10h 00m   620.0  14 Seats available      4.0
4       23:45        08h 20m   729.0  28 Seats available      2.9
...       ...            ...     ...                 ...      ...
4073    07:30        02h 35m  1190.0  20 Seats available      2.7
4074    07:00        02h 45m  1090.0   7 Seats available      2.7
4075    05:00        03h 20m  1190.0  29 Seats available      2.7
4076    05:00        05h 01m   990.0  33 Seats available      2.5
4077    09:30        04h 00m   759.0  15 Seats available      2.0

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/bangalore-to...
1     https://www.redbus.in/bus-tickets/bangalore-to...
2     https://www.redbus.in/bus-tickets/bangalore-to...
3     https://www.redbus.in/bus-tickets/bangalore-to...
4     https://www.redbus.in/bus-tickets/bangalore-to...
...                                                 ...
4073  https://www.redbus.in/bus-tickets/ananthapur-t...
4074  https://www.redbus.in/bus-tickets/ananthapur-t...
4075  https://www.redbus.in/bus-tickets/ananthapur-t...
4076  https://www.redbus.in/bus-tickets/ananthapur-t...
4077  https://www.redbus.in/bus-tickets/ananthapur-t...

                                   Route_name
0                      Bangalore to Kozhikode
1                      Bangalore to Kozhikode
2                      Bangalore to Kozhikode
3                      Bangalore to Kozhikode
4                      Bangalore to Kozhikode
...                                       ...
4073  Anantapur (andhra pradesh) to Bangalore
4074  Anantapur (andhra pradesh) to Bangalore
4075  Anantapur (andhra pradesh) to Bangalore
4076  Anantapur (andhra pradesh) to Bangalore
4077  Anantapur (andhra pradesh) to Bangalore

[4078 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078 entries, 0 to 4077
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4077 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 318.7+ KB
                Bus_name                           Bus_type Start_time  \
0    KSRTC (Kerala) - 52        SWIFT-GARUDA A/C SEATER BUS      12:00
1  KSRTC (Kerala) - 1378                      AC MULTI AXLE      13:46
2   KSRTC (Kerala) - 129        SWIFT-GARUDA A/C SEATER BUS      14:15
3   KSRTC (Kerala) - 235  Swift Deluxe Non AC Air Bus (2+2)      15:00
4   KSRTC (Kerala) - 370                      AC MULTI AXLE      15:25

  End_time Total_duration  Price     Seats_Available  Ratings  \
0    20:20        08h 20m  627.0   4 Seats available      4.1
1    21:25        07h 39m  729.0   3 Seats available      2.5
2    23:05        08h 50m  627.0  17 Seats available      4.3
3    01:00        10h 00m  620.0  14 Seats available      4.0
4    23:45        08h 20m  729.0  28 Seats available      2.9

                                          Route_link              Route_name
0  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
1  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
2  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
3  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
4  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode

In [15]:
insert_query = ('''INSERT INTO details(Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name)VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)''')
data =Final_df.values.tolist()
try:
    cursor.executemany(insert_query, data)
    connection.commit()
    print("Values inserted successfully")
except Exception as e:
    print(f"Error: {e}")

Error: 1054 (42S22): Unknown column 'nan' in 'field list'

In [17]:
import numpy as np
Final_df = Final_df.replace({np.nan: None})

In [18]:
insert_query = ('''INSERT INTO details(Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name)VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)''')
data =Final_df.values.tolist()
try:
    cursor.executemany(insert_query, data)
    connection.commit()
    print("Values inserted successfully")
except Exception as e:
    print(f"Error: {e}")

Error: 1048 (23000): Column 'Bus_type' cannot be null

In [19]:
print(Final_df['Bus_type'].isnull().sum()) 
Final_df['Bus_type'] = Final_df['Bus_type'].fillna('Unknown')
print(Final_df['Bus_type'].isnull().sum())

1
0

In [23]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078 entries, 0 to 4077
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 318.7+ KB

In [25]:
import pandas as pd

print(Final_df)

Final_df.info()

print(Final_df.head(10))

                   Bus_name                            Bus_type Start_time  \
0       KSRTC (Kerala) - 52         SWIFT-GARUDA A/C SEATER BUS      12:00
1     KSRTC (Kerala) - 1378                       AC MULTI AXLE      13:46
2      KSRTC (Kerala) - 129         SWIFT-GARUDA A/C SEATER BUS      14:15
3      KSRTC (Kerala) - 235   Swift Deluxe Non AC Air Bus (2+2)      15:00
4      KSRTC (Kerala) - 370                       AC MULTI AXLE      15:25
...                     ...                                 ...        ...
4073   Morning Star Travels  Scania AC Multi Axle Sleeper (2+1)      04:55
4074   Morning Star Travels                   A/C Sleeper (2+1)      04:15
4075   Morning Star Travels                   A/C Sleeper (2+1)      01:40
4076        KKaveri Travels      Non A/C Seater / Sleeper (2+1)      23:59
4077       Northern Travels       Bharat Benz A/C Sleeper (2+1)      05:30

     End_time Total_duration   Price     Seats_Available  Ratings  \
0       20:20        08h 20m   627.0   4 Seats available      4.1
1       21:25        07h 39m   729.0   3 Seats available      2.5
2       23:05        08h 50m   627.0  17 Seats available      4.3
3       01:00        10h 00m   620.0  14 Seats available      4.0
4       23:45        08h 20m   729.0  28 Seats available      2.9
...       ...            ...     ...                 ...      ...
4073    07:30        02h 35m  1190.0  20 Seats available      2.7
4074    07:00        02h 45m  1090.0   7 Seats available      2.7
4075    05:00        03h 20m  1190.0  29 Seats available      2.7
4076    05:00        05h 01m   990.0  33 Seats available      2.5
4077    09:30        04h 00m   759.0  15 Seats available      2.0

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/bangalore-to...
1     https://www.redbus.in/bus-tickets/bangalore-to...
2     https://www.redbus.in/bus-tickets/bangalore-to...
3     https://www.redbus.in/bus-tickets/bangalore-to...
4     https://www.redbus.in/bus-tickets/bangalore-to...
...                                                 ...
4073  https://www.redbus.in/bus-tickets/ananthapur-t...
4074  https://www.redbus.in/bus-tickets/ananthapur-t...
4075  https://www.redbus.in/bus-tickets/ananthapur-t...
4076  https://www.redbus.in/bus-tickets/ananthapur-t...
4077  https://www.redbus.in/bus-tickets/ananthapur-t...

                                   Route_name
0                      Bangalore to Kozhikode
1                      Bangalore to Kozhikode
2                      Bangalore to Kozhikode
3                      Bangalore to Kozhikode
4                      Bangalore to Kozhikode
...                                       ...
4073  Anantapur (andhra pradesh) to Bangalore
4074  Anantapur (andhra pradesh) to Bangalore
4075  Anantapur (andhra pradesh) to Bangalore
4076  Anantapur (andhra pradesh) to Bangalore
4077  Anantapur (andhra pradesh) to Bangalore

[4078 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078 entries, 0 to 4077
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4078 non-null   object
 1   Bus_type         4078 non-null   object
 2   Start_time       4078 non-null   object
 3   End_time         4078 non-null   object
 4   Total_duration   4078 non-null   object
 5   Price            4078 non-null   float64
 6   Seats_Available  4078 non-null   object
 7   Ratings          4078 non-null   float64
 8   Route_link       4078 non-null   object
 9   Route_name       4078 non-null   object
dtypes: float64(2), object(8)
memory usage: 318.7+ KB
                Bus_name                                   Bus_type  \
0    KSRTC (Kerala) - 52                SWIFT-GARUDA A/C SEATER BUS
1  KSRTC (Kerala) - 1378                              AC MULTI AXLE
2   KSRTC (Kerala) - 129                SWIFT-GARUDA A/C SEATER BUS
3   KSRTC (Kerala) - 235          Swift Deluxe Non AC Air Bus (2+2)
4   KSRTC (Kerala) - 370                              AC MULTI AXLE
5    KSRTC (Kerala) - 97          Swift Deluxe Non AC Air Bus (2+2)
6   KSRTC (Kerala) - 380          Swift Deluxe Non AC Air Bus (2+2)
7   KSRTC (Kerala) - 553  Super Express Non AC Seater Air Bus (2+2)
8    KSRTC (Kerala) - 51          Swift Deluxe Non AC Air Bus (2+2)
9   KSRTC (Kerala) - 789             Super Fast Non AC Seater (2+3)

  Start_time End_time Total_duration  Price     Seats_Available  Ratings  \
0      12:00    20:20        08h 20m  627.0   4 Seats available      4.1
1      13:46    21:25        07h 39m  729.0   3 Seats available      2.5
2      14:15    23:05        08h 50m  627.0  17 Seats available      4.3
3      15:00    01:00        10h 00m  620.0  14 Seats available      4.0
4      15:25    23:45        08h 20m  729.0  28 Seats available      2.9
5      16:00    00:45        08h 45m  567.0  22 Seats available      3.5
6      16:15    01:00        08h 45m  567.0   9 Seats available      4.6
7      16:45    02:15        09h 30m  640.0  17 Seats available      3.5
8      19:00    04:30        09h 30m  640.0  33 Seats available      3.9
9      20:00    03:45        07h 45m  473.0  17 Seats available      3.8

                                          Route_link              Route_name
0  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
1  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
2  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
3  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
4  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
5  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
6  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
7  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
8  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode
9  https://www.redbus.in/bus-tickets/bangalore-to...  Bangalore to Kozhikode

In [26]:
insert_query = ('''INSERT INTO details(Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name)VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)''')
data =Final_df.values.tolist()
try:
    cursor.executemany(insert_query, data)
    connection.commit()
    print("Values inserted successfully")
except Exception as e:
    print(f"Error: {e}")

Values inserted successfully